body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#search-section {
    margin-right: 20px;
    width: auto;
    align-self: flex-start;
    padding: 10px; /* Adjust padding as needed */
}

#weather-section {
    flex: 3;
    display: flex;
    flex-direction: column;
}

#search-button {
    padding: 10px;
    margin-left: 10px;
}

#search-history {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the start of the flex container */
    margin-top: 20px;
}

#current-weather,
#forecast {
    margin-bottom: 20px;
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: auto;
}

.forecast-day {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin: 5px;
    flex-basis: calc(20% - 10px);
    text-align: center;
    max-width: 200px;
}

.current-day {
    padding: 10px;
    background-color: #9aa9b9;
    color: white;
    border-radius: 5px;
    margin: 5px;
    flex-basis: calc(20% - 10px);
    text-align: center;
    max-width: 200px;
}

.history-button {
    padding: 5px 10px;
    margin-bottom: 5px; /* Add space between buttons */
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left; /* Align text to the left */
    width: 100%; /* Full width of the container */
}

.history-button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #search-section {
        width: 100%;
        margin-right: 0;
        padding: 10px; /* Adjust padding as needed */
    }

    #weather-section {
        width: 100%;
    }

    #forecast-container {
        justify-content: center;
    }

    .forecast-day {
        flex-basis: calc(50% - 10px);
    }
}
